<h1>{{ turtle.turtle_pit_tag_id }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
    <li>{{ turtle.turtle_species }}</li>
    <li>{{ turtle.turtle_sex }}</li>
</ul>

<form action="{% url 'turtle_observer:search' %}" method="post">
{% csrf_token %}
    <input type="text" name="turtle_pit_tag_id" id="turtle_pit_tag_id" value="{{ turtle.turtle_pit_tag_id }}" />
    <label for="turtle_pit_tag_id"></label><br />
<input type="submit" value="Search" />
</form>
