{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Add A New Observation
{% endblock %}

{% block content_header %}
  <h1>{{ expedition }} -- {{ location }}</h1>
{% endblock %}
{% block content %}

{% if turtle %}
Turtle with Pit Tag ID {{ turtle.turtle_pit_tag_id }} found!
<ul>
  <li>Species: {{ turtle.get_turtle_species_display }}
  <li>Sex: {{ turtle.get_turtle_sex_display }}
</ul>

Last 3 observations:
<ul>
  {% if last_observed %}
    {% for observation in last_observed %}
      <li>{{ observation.observation_date.date }} -- {{ observation.location }}, Age: {{ observation.age_in_years }}</li>
    {% endfor %}
  {% else %}
      <li>No observations.</li>
  {% endif %}
</ul>
{% endif %}
<hr>

<h2>Add New Observation</h2>
<p style="font-style: italic">(Ctrl- or command-click to add several observers, click again to remove observer)</p>

<form action="{% url 'turtle_observer:new_observation' expedition_id=expedition.id location_id=location.id turtle_id=turtle.id %}" method="POST">
{% csrf_token %}
  <ul>
    {{ form.as_ul }}
    <li>&nbsp;</li>
    <li><input type="submit" name="submit" value="Add New Observation" /></li>
  </ul>
</form>

<p><a href="{% url 'turtle_observer:index' %}">Restart Turtle Observation</a></p>
{% endblock %}
