{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Search For A Turtle
{% endblock %}

{% block pagename %}searchpage{% endblock %}

{% block content_header %}
  <h1>Search For Turtles</h1>
{% endblock %}
{% block content %}

<p style="font-style: italic">(Select Expedition, Select Location, Enter Pit Tag ID and press Search For Turtle, or just Add New Turtle)</p>

<form action="{% url 'turtle_observer:search' %}" method="POST">
{% csrf_token %}
  <p>
    <ul>
      <li><label for="expedition">Your Expedition: </label> 
        <select name="expedition" id="expedition">
          {% for each_expedition in expedition_list.all %}
            {% if each_expedition.expedition_start_date == expedition.expedition_start_date %}
              <option value="{{ each_expedition.id }}" selected>{{ each_expedition }}</option>
            {% else %}
              <option value="{{ each_expedition.id }}">{{ each_expedition }}</option>
            {% endif %}
          {% empty %}
              <option value="">No expeditions!</option>
          {% endfor %}
        </select>
      </li>
      <li><label for="location">Your Location: </label> 
        <select name="location" id="location">
          {% for each_location in location_list.all %}
            {% if each_location.location_code == location.location_code %}
              <option value="{{ each_location.location_code }}" selected>{{ each_location.location_name }}</option>
            {% else %}
              <option value="{{ each_location.location_code }}">{{ each_location.location_name }}</option>
            {% endif %}
          {% empty %}
              <option value="">No locations!</option>
          {% endfor %}
        </select>
      </li>
      <li>
        <label for="turtle_pit_tag_id">Turtle's Pit Tag ID: </label>
        <input type="text" name="turtle_pit_tag_id" id="turtle_pit_tag_id" value="{{ turtle_pit_tag_id }}" />
      </li>
      <li>&nbsp;</li>
      <li><input type="submit" name="submit" value="Search For Turtle" /> &nbsp; <input type="submit" name="submit" value="Add A New Turtle" /></li>
    </ul>
  </p>
</form>
{% endblock %}
