BeautifulSoup==3.2.1
dj-database-url==0.4.0
Django>=1.11.19
django-model-report==0.2.1
gunicorn>=19.5.0
html5lib==0.9999999
Pillow>=3.3.2
psycopg2==2.6.1
PyPDF2==1.27.5
reportlab==3.3.0
requests>=2.20.0
six==1.10.0
whitenoise==2.0.6
xhtml2pdf==0.0.6
xlwt==0.7.4
