{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Black Rock Turtle DB Login
{% endblock %}

{% block content_header %}
  <h1>Please log in to the Black Rock Turtle DB</h1>
{% endblock %}
{% block content %}

{% if form.errors %}
  <p>Your username or password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed, please log in with an account that has access.</p>
  {% else %}
    <p>Please log in to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'turtle_observer:login_submit' %}">
{% csrf_token %}
  <ul>
    <li>{{ form.username.label_tag }} &nbsp;{{ form.username }}</li>
    <li>{{ form.password.label_tag }} &nbsp;{{ form.password }}</li>
    <li>&nbsp;</li>
    <li><input type="hidden" name="next" value="{{ next }}" /></li>
    <li><input type="submit" value="login" /> &nbsp;<a href="{% url 'password_reset' %}">Lost password?</a></li>
  </ul>  
</form>



{% endblock %}
